.loginContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}