.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.black{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroHeader {
    position: absolute;
    color: white;
    font-size: 4.5vw;
    z-index: 3;
    right: 43%;
    top: 22%;
    width: 40%;
    font-weight: 700;
}

.heroHeader span {
    background: linear-gradient(90deg, rgba(91, 23, 105, 1) 0%, rgba(12, 42, 82, 1) 35%, rgba(0, 13, 47, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;



}