.navWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navContainer {
    position: absolute;
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    box-sizing: border-box;
    z-index: 999;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px black;
    padding-right: 18%;
}

.linksContainer {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.linksContainer a {
    color: white;
    text-decoration: none;
    padding: 2%;
    transition: 0.3s color ease-in-out;
    font-weight: 500;
}

.linksContainer a:hover {
    color: purple;

}


.dashboardButton {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}

.dashboardButton:hover {
    background-color: white;
    color: purple;
}