.loginForm{
    width: 240px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
    padding: 20px 40px;
}

.loginTitle{

    font-size: 34px;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}

.inputWrapper{
    width: 100%;
    margin: 40px 0;
  
}

.formInput{
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 14px;
}

.formInput::placeholder{
    color: white;
}


.loginButton{
    display: block;
    margin: 0 auto;
    margin-top: 65px;
    width: 100px;
    height: 35px;
    color: white;
    background: transparent;
    border: 1px solid #FFF;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

}

.loginButton:hover{
    background: white;
    color: rgb(15,30,37);
}